
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

body{

    min-height: 100vh;
    min-width: 100vw;
    background-color: grey;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header .navbar{

    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.6px solid white;
    z-index:1;

}

header .navbar .logo img{

    margin-left: 30px;
    /* border: 2px solid white; */
    /* border-radius: 15px; */
    height: 80px;

}

header .navbar .logo h1:hover{

    color:rgb(45, 102, 163);
}

header .navbar .logo h1{

    color: white;
    padding:8px 20px; 
}

header .navbar .menu #main{
    color: rgb(45, 102, 163);
}

header .navbar .menu{

    position: relative;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
}

header .navbar .menu a{

    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    border:1px solid white;

}

header .navbar .menu a:hover{

    color: rgb(45, 102, 163);
}

.main-container{

    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container .container{

    border: 0.1px solid black;
    box-shadow: rgba(0,0,0,0.3);
    text-align: center;
    background-color: #fff;
    position: relative;
    height: 70vh;
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    background: transparent;
    border-radius: 90px;
    backdrop-filter: blur(8px);
    outline: none;
    color:#fff
    
    
    



}

.main-container .container h1{

    margin-bottom: 35px;
    font-weight: 700;
    color: white;
}

.main-container .container p{

    margin-bottom: 15px;
    color: white;
    text-align: justify;
    font-weight: 500;
    font-style: normal;
}

.main-container .container .btn a{

    text-decoration: none;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: large;
    color: #fff;
    background-color: rgba(122, 103, 77, 0.1);
    margin-top: 15px;
}

.main-container .container .btn a:hover{

    color:rgb(45, 102, 163);
    cursor: pointer;
}


footer {
    border-top: 0.5px solid white;
    margin-top: 20px;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 600;
    color: #fff;
}